@import "general";

.card {
  @include flex-centered;
  border: 1px solid $border-color;
  border-radius: 5px;
  width: $card-width;
  padding: 15px 14px;
  transition: box-shadow 1s;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }

  &__img {
<<<<<<< HEAD
    box-sizing: content-box;
    width: 160px;
    height: 134px;
    margin-bottom: 30px;
    padding: 12px 0;
    border: 3px solid transparent;
    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
      border: 3px solid $border-color;
    }
  }

  &__description {
    @include medium-font(15px);
    margin-bottom: 5px;
  }

  &__code {
    margin-bottom: 15px;
  }

  &__rating {
    @import "stars";
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__price {
    @extend .card__rating;
  }

  &__cost {
    @include bold-font(16px, 19px);
  }

  &__button {
    @include bold-font(14px, 16px);
    height: 40px;
    width: 170px;
    background-color: $main-color;
    border: 1px solid $main-color;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    transition: background-color 1s, color 1s;

=======
    width: 160px;
    height: 134px;
    margin-bottom: 45px;
  }

  &__description {
    @include medium-font(15px);
    margin-bottom: 5px;
  }

  &__code {
    margin-bottom: 15px;
  }

  &__rating {
    @import "stars";
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__price {
    @extend .card__rating;
  }

  &__cost {
    @include bold-font(16px, 19px);
  }

  &__button {
    @include bold-font(14px, 16px);
    height: 40px;
    width: 170px;
    background-color: $main-color;
    border: 1px solid $main-color;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;

>>>>>>> develop
    &:hover {
      background-color: white;
      color: $main-color;
    }
  }
}
