@import "general";

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: $card-width;
  padding: 30px 14px 15px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }

  &__img {
    width: 160px;
    height: 134px;
    margin-bottom: 45px;
  }

  &__description {
    margin-bottom: 5px;
    @include medium-font(15px);
  }

  &__code {
    margin-bottom: 15px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 20px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 20px;
  }

  &__cost {
    @include bold-font(16px, 19px);
  }

  &__button {
    width: 170px;
    height: 40px;

    @include bold-font(14px, 16px);
    text-transform: uppercase;
    text-align: center;
    color: white;

    background-color: $main-color;
    border: 1px solid $main-color;
    border-radius: 5px;

    &:hover {
      color: $main-color;
      background-color: white;
    }
  }
}
