@import "_reset";
@import "general";
@import "header";
@import "nav";
@import "card";
@import "stars";

html {
  @include thin-font;
  font-family: $text-fonts;
}

.main {
  @include flex-centered;
}

.page__header {
  margin-bottom: 50px;
}

.catalog {
  @include flex-centered;
  max-width: ($card-width * 4) + 200;
}

.catalog__card {
  margin: 0 24px 50px;
}
