@import "general";

.nav {
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 23px 0;

    @include medium-font(14px);
    text-decoration: none;
    text-transform: uppercase;
    color: black;

    &:hover {
      color: $main-color;
    }
  }

  &__link--active {
    color: $main-color;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;

      background-color: $main-color;
      border-radius: 8px;
    }
  }
}
